.larg-pagina{
	max-width:1400px;
}
.larg-img-perfil{
	width:80%;
}
.primeira-habilidade{
	width:60%;
}
.segunda-habilidade{
	width:75%;
}
.terceira-habilidade{
	width:55%;
}
.quarta-habilidade{
	width:50%;
}
.primeiro-idioma{
	width:75%;
}
.segundo-idioma{
	width:40%;
}
.terceiro-idioma{
	width:100%;
}

